.header{
  background: #FFF8F3;;
  background: url(../images/header_bg.png), url(../images/developer.png);
  background-repeat:no-repeat;
  background-position: bottom right, left;
}
*{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
/* header and navigation style */
nav{display: flex;
    justify-content: space-between;
    margin: 50px 200px;
    }
.nav-title{
  font-weight: 800;
  font-size: 45px;
}
nav ul{display: flex;
      align-items: center;}

.text-primary{color: #FD6E0A;}
nav li{list-style: none; margin-left:50px;}
.button-primary{
  height: 64px;
  background: #FD6E0A;
  border-radius: 5px;
  border: 0;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
 padding: 18px 35px;
}
/* Banner style */
 .banner{margin: 0 75px  0 200px ; 
  display: flex; align-items: center;}
  .banner-title{
    font-size: 85px;
    color: #181818;
    font-weight: 700;
    margin-bottom: 20px;
  }
.banner-subtitile{
  font-size: 45px;
  color: #474747;
  font-weight: 600;
  margin-bottom: 5px;
}
p{
  font-weight: 400;
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;

}
/* main section */
main{max-width: 1140px;
    margin: 0 auto; 
    background: #FFF8F3;
    border-radius: 10px;   
}

/* about section style */
.about{
  margin-top:130px;
  padding: 130px 150px;
  text-align: center;
}
.section-title{
 margin-bottom: 30px;
 font-weight: 700;
font-size: 35px;
text-align: center;
}
.section-description{
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;

}
.about-info-container{
  display: flex;
  justify-content: space-around;
}
.info-title{
  color: #757575;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.info-description{
  color: #232323;
  font-size: 20px;
  font-weight: 700;
}
/* What I do styles */
.what-i-do{
   margin-top: 130PX;
  font-weight: 700;
  font-size: 35px;
  color: #c42828;
}
.what-i-do-section-descrition{
 margin-top: 30px;
 font-weight: 400;
font-size: 18px;
color: #fbfbfb;
justify-content: space-around;
}
/* what i do skill contair styles */
.skills-container{
  display: flex;
  gap: 24px;
}
.skill-title{
  font-weight: 700;
  font-size: 20px;
  color: #181818;
  margin-top: 30px;
  margin-bottom: 20px;

}
.skill-description{
  font-weight: 400;
  font-size: 16px;
  color: #757575;
}
.skill{
  background: #FFFFFF;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}

/* Resume styles */
.section-title{
  margin-top: 130px;
  color: #181818;
  font-weight: 700;
 font-size: 35px;
}
.resume-content{
  display: flex;

}
.resume .title{
  color: #474747;
  font-weight: 700;
  font-size: 25px;margin-bottom: 10px;
}
.resume .sub_title{
  color: #757575;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}
.resue .description{
  color: #757575;
  font-weight: 400;
  font-size: 16px;

}
.resume-item{
  margin-top: 30px;
  margin-bottom: 30px;
}
.resume-button{
  margin-top: 50px;
  text-align: center;
  justify-content: center;

  
}
/* contact styles */
.contact .section-title{
  text-align: left;
}
.contact{
  display: flex;
  gap: 100px;
  background: #7ad774;
  padding: 130px 200px;
 
}
.contact input[type="text"],input[type="email"], textarea{
  margin-bottom: 24px;
  border: 0;
  padding: 18px 30px;
  width: 100%;
}
input{
  height: 64px;
}
.contact a{
  text-decoration: none;
}
/* responsive styles */
@media screen and (max-width: 576px) {
  .skills-container,.resume-content,.about-info-container,.contact,.header,.banner,nav{
    flex-direction: column;
    padding: 10px 20px;
  }
  .header nav ul{
    flex-direction: column;
    text-align: left;
  }
  .banner{
    margin: 0 100px;
  }
  .section-title{
    width: 100%;
  }
  .contact input[type="text"], input[type="email"], textarea {
    padding: 0;
  }
  .banner img{
    width: 100%;
  }
  nav{
    margin: 50px 0px;
  }
  
}
@media screen and (min-width: 577px) and (max-width:992px) {
 /*  .about,.contact{
    padding: 20px;
    
  } */
  .contact{
    flex-direction: column;
  }
  .contact input[type="text"], input[type="email"], textarea {
    padding: 0;
  }
  .about,.contact{
    padding: 20px;
  }  
}
